/* SITE WIDE - GENERAL */

/* Import google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/* FILE SPECIFIC */


li{
  display: inline;
  font-family: Poppins, sans-serif;
}

h1{
  text-align: left;
  padding-top: 5%;
  padding-left: 10%;
  color: #49C6DD;
  font-size: 32px;
}

.nav-element{
  text-decoration: none;
  color: black;
  padding: 10px;
  
}

.nav-element:hover{
  color: #49C6DD;
}

#navbar-list{
  text-align: right;
  list-style-type: none;
  padding-top: 100px;
}

