/* SITE WIDE - GENERAL */

/* Import google fonts - Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
} */

/* FILE SPECIFIC */


/* li{
  display: inline;
  font-family: Poppins, sans-serif;
  padding-top: 20px;
}

.fart{
  text-align: left;
}

a{
  padding: 100px;
}

h1{
  text-align: left;

}

.nav-element{
  text-decoration: none;
  color: black;
  padding: 1px;
  
}

.nav-element:hover{
  color: red;
}

#navbar-list{
  text-align: right;
  list-style-type: none;
  padding-top: 100px;
}
 */
