/* SITE WIDE - GENERAL */

  /* FONTS */
  @font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  }

/* FILE SPECIFIC */
li{
  display: inline;
  font-family: 'Montserrat', Arial, sans-serif;
}

h1{
  text-align: center;
}

.nav-element{
  text-decoration: none;
  color: black;
  padding: 12px 16px;
}

.nav-element:hover{
  color: red;
}

#navbar-list{
  text-align: right;
  list-style-type: none;
}

