<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CodeCloud9</title>
        
        <!-- Update these with your own fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
    </head>
    
    <body>
        <nav>
            
            <ul id="navbar-list">
                <li><h1>CodeCloud9</h1></li>
                <li><a href="index" class="nav-element">Home</a></li> <!--Don't add the html tags, the python scripts add them-->
                <li><a href="about" class="nav-element">About Us</a></li>
                <li><a href="stream" class="nav-element">Live Censoring</a></li>
                <li><a href="upload" class="nav-element">File Uploader</a></li>
              </ul>
        </nav>
        
        <h2 id="using-ai">
            USING AI
        </h2>
        <h2 id="to-create">
            TO CREATE
        </h2>
        <h2 id="a-better-world">
            A BETTER WORLD
        </h2>

        <p>
            CodeCloud9 is a hackathon team focused on leveraging Google Cloud's pre-existing AI models to better
            foster digital etiquette in our technological world. We use AI to blur the middle finger gesture in 
            live videos and images.
        </p>
        <img src="/static/images/globe-36242_1280.png">


        
    </body>
</html>

  