<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kevin's Fat</title>
        
        <!-- Update these with your own fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
    </head>
    <!-- 
    <body>
        <nav>
            <ul id="navbar-list">
                <li><a href="index.html" class="nav-element">Home</a></li>
                <li><a href="about.html" class="nav-element">About Us</a></li>
                <li><a href="contact.html" class="nav-element">Contact</a></li>
                <li><a href="" class="nav-element">File Uploader?</a></li>
              </ul>
        </nav>
        <header>
        </header>
            <h1>Kevin Dieting Plan</h1>
            <p>Welcome to Kevin's Dieting plan! One of the hardest problems known to man (no solutions yet).
                He is extremely obese and unable to lose any weight, he is ineligible for weight loss surgery.
                Please donate, please help a soul in need. Thank you.
            </p>
        
        <footer>
        </footer>
        <script src="../static/js/script.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      
    </head>
    
    <body>
        <div class="nav-wrapper">

        </div>
        <div class="wrapper">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about/about.html">About Us</a></li>
                    <li><a href="contact/contact.html">Contact</a></li>
                    <li><a href="">Something</a></li>
                    </ul>
            </nav>
            <header>File Uploader</header>
            <form action="#" enctype="multipart/form-data">
                <input class="file-input" type="file" name="file" hidden>
                <i class="fas fa-cloud-upload-alt"></i>
                <p>Browse File to Upload</p>
            </form>
            <section class="progress-area">
            </section>
            <section class="uploaded-area">
            </section>
             <section>
                <div class="container">
                    <h1>Kevin Dieting Plan</h1>
                    <button class="btn" onclick="showAlert()">Click Me</button>
                </div>
            </section> 
            <footer>
            </footer>
        </div>
        -->
        <script src="/static/js/script.js"></script>
    </body>
</html>

  