<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kevin's Fat</title>
        
        <!-- Update these with your own fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
    </head>
    
    <body>
        <nav>
            <ul id="navbar-list">
                <li><a href="index" class="nav-element">Home</a></li> <!--Don't add the html tags, the python scripts add them-->
                <li><a href="about" class="nav-element">About Us</a></li>
                <li><a href="contact" class="nav-element">Contact Us</a></li>
                <li><a href="upload" class="nav-element">File Uploader</a></li>
              </ul>
        </nav>
        
        <h1 class="fart">Kevin Plan</h1>

            <p>Welcome to Kevin's Dieting plan! One of the hardest problems known to man (no solutions yet).
                He is extremely obese and unable to lose any weight, he is ineligible for weight loss surgery.
                Please donate, please help a soul in need. Thank you.
            </p>
        
        <footer>
        </footer>
    
    
    
        
        
    </body>
</html>

  