<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CodeCloud9</title>
        
        <link rel="stylesheet" type="text/css" href="/static/css/UploadPage.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <ul>
                    <a href="index"><i class="fas fa-home"></i></a>
                </ul>
            </nav>
            <h1>File Uploader</h1>
            <form action="#" enctype="multipart/form-data">
                <input class="file-input" type="file" name="file" hidden>
                <i class="fas fa-cloud-upload-alt"></i>
                <p>Browse File to Upload</p>
            </form>
            <section class="progress-area">
            </section>
            <section class="uploaded-area">
            </section>
    
        </div>
        <script src="/static/js/UploadScript.js"></script>
    </body>
</html>